@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
    background-image: url(lang.png) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}
.container{
    width: 700px;
    background: rgb(179, 218, 245);
    border-radius: 7px;
    padding: 30px;
}
.wrapper{
    border-radius: 5px;
    border: 1px solid black;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid black;
}
.text-input .to-text{
    border-radius: 0px;
    border-left: 1px solid black;
}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background:none;
    padding: 10px 15px;
}
.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls{
    list-style: none;
    padding: 12px 15px;
}
.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid black;
}
.controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid black;
}
.controls .icons{
    width: 38%;
}
.controls .icons i{
    width: 50px;
    color: #686464;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    background: rgb(158, 158, 11);
}